.vscode/**
.vscode-test/**
src/**
scripts/**
test-project/**
drf-project/**
**/*.ts
!dist/**
esbuild.config.mjs
tsconfig.json
.gitignore
.env
**/.env
**/.env.example
*.vsix
**/*.test.ts
node_modules/@resvg/**
node_modules/esbuild/**
node_modules/typescript/**
node_modules/tsx/**
node_modules/png-to-ico/**
node_modules/@types/**
